body {
  background: #ffffff;
  font-size: 22px;
  line-height: 32px;
  color: black;
  word-wrap: break-word !important;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow:0 1px 4px rgba(0,0,0,.15);
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav:hover{
  color:#ff5b6a;
  
}
.navbar {
  padding: 35px;
}



h1 {
  font-size: 60px;
  text-align: center;
  color: #000000;
}

h3 {
  font-size: 30px;
  text-align: center;
  color: #000000;
}

h3 a {
  color: #000000;
}

a {
  color: #000000;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  font-family: "Bree Serif", "serif";
}

#container {
  margin: 0 auto;
}



li > a:after {
  content: " +";
}
li > a:only-child:after {
  content: "";
}
.swiper {
  width: 600px;
  height: 300px;
}
.product-list {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 127px;
}

.card {
  width: 18rem;
}
* {
	box-sizing:border-box
  }
  h2 {
	text-align: center;
  }
  .slideshow-container {
	max-width: 300px;
	position: relative;
	margin: auto;
  }
  .mySlides {
	  display: none;
  }
  .text {
	color: black;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  .dot {
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
	background-color: #717171;
  }
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 3s;
	animation-name: fade;
	animation-duration: 3s;
  }
   
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
   
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
